{{ define "form_kejadian_keamanan.tmpl"}}

{{ template "templates/layout.tmpl" .}}

    <form id="form-kejadian-keamanan" action="{{.kejadianKeamananURL}}" method="post" enctype="multipart/form-data">
        <div class="card-body col-md-12 col-lg-12">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="hidden" id="latitude" name="latitude" />
                            <input type="hidden" id="longitude" name="longitude" />
                            <input type="hidden" id="nik" name="nik" value="99999" />
                            <input type="hidden" id="id_kejadian_keamanan" name="id_kejadian_keamanan" value="" />
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="tanggal_kejadian">Tanggal</label>
                                <div class="col-sm-8">
                                    <input type="date" id="tanggal_kejadian" name="tanggal" class="form-control form-control-sm" required
                                    oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Tanggal kejadian harus diisi..!!')">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="jenis_pelanggaran">Jenis Pelanggaran</label>
                                <div class="col-sm-8">
                                    <select name="jenis_kejadian_id" id="jenis_pelanggaran" data-error="Pilih Jenis Pelanggaran" class="form-control form-control-sm" required>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="nama_kapal">Nama Kapal</label>
                                <div class="col-sm-8">
                                    <input type="text" id="nama_kapal" name="nama_kapal" class="form-control form-control-sm" required
                                    oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Nama Kapal harus diisi..!!')">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="imo_kapal">IMO Kapal</label>
                                <div class="col-sm-8">
                                    <input type="text" id="imo_kapal" name="imo_kapal" class="form-control form-control-sm" required
                                    oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('IMO Kapal harus diisi..!!')">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="mmsi_kapal">MMSI Kapal</label>
                                <div class="col-sm-8">
                                    <input type="text" id="mmsi_kapal" name="mmsi_kapal" class="form-control form-control-sm" required
                                    oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('MMSI Kapal harus diisi..!!')">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="sumber_berita">Sumber Berita</label>
                                <div class="col-sm-8">
                                    <input type="text" id="sumber_berita" name="sumber_berita" class="form-control form-control-sm" required
                                    oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Sumber Berita harus diisi..!!')">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="link_berita">Link Berita</label>
                                <div class="col-sm-8">
                                    <textarea id="link_berita" name="link_berita" class="form-control form-control-sm" required 
                                    style="font-size:1em; min-height:100px; overflow:hidden; resize:none;" 
                                    oninput="setCustomValidity('')" 
                                    oninvalid="this.setCustomValidity('Link Berita harus diisi..!!')">• </textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="muatan">Muatan</label>
                                <div class="col-sm-8">
                                    <textarea id="muatan" name="muatan" class="form-control form-control-sm" required 
                                    style="font-size:1em;" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Muatan harus diisi..!!')"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="asal">Asal</label>
                                <div class="col-sm-8">
                                    <input type="text" id="asal" name="asal" class="form-control form-control-sm" required
                                    oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Asal harus diisi..!!')">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="bendera">Bendera</label>
                                <div class="col-sm-8">
                                    <input type="text" id="bendera" name="bendera" class="form-control form-control-sm" required
                                    oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Bendera harus diisi..!!')">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="tujuan">Tujuan</label>
                                <div class="col-sm-8">
                                    <input type="text" id="tujuan" name="tujuan" class="form-control form-control-sm" required
                                    oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Tujuan harus diisi..!!')">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="kategori_sumber">Kategori Sumber</label>
                                <div class="col-sm-8">
                                    <select name="kategori_sumber" id="kategori_sumber" data-error="Pilih Kategori Sumber" class="form-control form-control-sm" required>
                                        <option value="" selected disabled hidden> Pilih </option>
                                        <option value="Media Online"> Media Online </option>
                                        <option value="Puldata"> Puldata </option>
                                        <option value="Media Online dan Puldata"> Media Online dan Puldata </option>
                                        <option value="Media Online dan KPIML"> Media Online dan KPIML </option>
                                        <option value="Media Online dan Operasi"> Media Online dan Operasi </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input type="text" name="lokasi_kejadian" id="lokasi_kejadian" class="form-control bg-light border-0 small" placeholder="Cari Lokasi" aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button onclick="search_location(); return false;" class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                

                                <div class="ml-auto">
                                    <div class="form-inline">
                                        <select class="custom-select my-1 mr-sm-2" name="zona" id="zona" data-error="Pilih Zona" required>
                                            <option value="" selected disabled hidden> Pilih Zona </option>
                                            <option value="BARAT"> Barat </option>
                                            <option value="TENGAH"> Tengah </option>
                                            <option value="TIMUR"> Timur </option>
                                        </select>
                                    </div>
                                </div>
                                
                            </div>

                            <div id="map_location" style="border:1px solid #CCC; height:420px;"></div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input type="text" style="text-align: center" id="koordinat" name="koordinat" readonly="readonly" class="form-control form-control-sm" data-error="Koordinat harus diisi." required>
                                </div>
                            </div>
                            
                           <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="tindak_lanjut">Tindak Lanjut</label>
                                <div class="col-sm-8">
                                    <textarea id="tindak_lanjut" name="tindak_lanjut" class="form-control form-control-sm" required 
                                    style="font-size:1em;" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Tindak Lanjut harus diisi..!!')"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="informasi_kategori">Informasi Kategori</label>
                                <div class="col-sm-8">
                                    <textarea id="informasi_kategori" name="informasi_kategori" class="form-control form-control-sm" required 
                                    style="font-size:1em;" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Informasi Kategori harus diisi..!!')"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="files">Image</label>
                                <div class="col-sm-8">
                                    <input type="file" id="file_input" name="files" accept="image/*" multiple>
                                    <div id="file-list"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" id="btn_batal" class="btn btn-danger" onclick="document.location='/kejadian/keamanan'">Cancel</button>
        </div>
        <!-- /.box-footer -->
    </form>

    {{ template "layouts/footer.tmpl" . }}

 {{ template "layouts/script.tmpl" . }}

<script>
    const linkBeritaTextarea = document.getElementById('link_berita');

    linkBeritaTextarea.value = '• ';

    linkBeritaTextarea.addEventListener('input', function() {
        if (this.value === '') {
            this.value = '• ';
            this.selectionStart = this.selectionEnd = 2;
        }
        this.style.height = 'auto';
        this.style.height = this.scrollHeight + 'px';
    });

    linkBeritaTextarea.addEventListener('keydown', function(e) {
        if (e.key === 'Enter') {
            e.preventDefault();
            const cursorPosition = this.selectionStart;
            const currentValue = this.value;
            const newValue = currentValue.slice(0, cursorPosition) + '\n• ' + currentValue.slice(cursorPosition);
            this.value = newValue;
            this.selectionStart = this.selectionEnd = cursorPosition + 3;
        }
    });


    var id_kejadian_keamanan = {{.idKejadianKeamanan}};
    var jenisPelanggaranSelected = null;

    const fileInput = document.querySelector('#file_input');
    const fileList = document.querySelector('#file-list');

    if (id_kejadian_keamanan !== null && id_kejadian_keamanan !== "" && id_kejadian_keamanan !== "<nil>") {
        getKejadianKeamanan(id_kejadian_keamanan);
    }

    fileInput.addEventListener('change', handleFileSelect);

    async function getKejadianKeamanan(id) {
        try {
            const response = await $.ajax({
                url: window.location.origin + {{ .getKejadianKeamananURL }} + "?id_kejadian_keamanan=" + id,
                type: 'GET'
            });

            const data = response.data.data_kejadian_keamanan;
            if (data !== null) {
                $("#id_kejadian_keamanan").val(data.id_kejadian_keamanan);
                $("#tanggal_kejadian").val(data.tanggal);
                $("#jenis_pelanggaran").val(data.jenis_kejadian_id);
                $("#jenis_pelanggaran").prop('disabled',true);
                $("#nama_kapal").val(data.nama_kapal);
                $("#sumber_berita").val(data.sumber_berita);
                const links = data.link_berita.split('\n');
                const bulletPoints = links.map(link => `• ${link}`).join('\n');
                $("#link_berita").val(bulletPoints);

                linkBeritaTextarea.style.height = 'auto';
                linkBeritaTextarea.style.height = linkBeritaTextarea.scrollHeight + 'px';

                $("#lokasi_kejadian").val(`${data.latitude} ${data.longitude}`);
                search_location()
                $("#muatan").val(data.muatan);
                $("#asal").val(data.asal);
                $("#bendera").val(data.bendera);
                $("#tujuan").val(data.tujuan);
                $("#kategori_sumber").val(data.kategori_sumber);
                $("#tindak_lanjut").val(data.tindak_lanjut);
                $("#imo_kapal").val(data.imo_kapal);
                $("#mmsi_kapal").val(data.mmsi_kapal);
                $("#informasi_kategori").val(data.informasi_kategori);
                $("#zona").val(data.zona);

                const container = new DataTransfer();

                for (const file of data.file_image) {
                    const imgBlob = await getImgURLPromise(file);
                    const fileName = file.filename;
                    const newFile = new File([imgBlob], fileName, { type: "image/jpeg", lastModified: new Date().getTime() }, 'utf-8');
                    container.items.add(newFile);
                }

                fileInput.files = container.files;
                updateFileList();
            }
        } catch (error) {
            console.log(error);
        }
    }

    function getImgURLPromise(file) {
        return new Promise((resolve, reject) => {
            const xhr = new XMLHttpRequest();
            xhr.onload = function() {
                resolve(xhr.response);
            };
            xhr.onerror = function() {
                reject(xhr.statusText);
            };
            xhr.open('GET', window.origin + "/api/files/" + file.url);
            xhr.responseType = 'blob';
            xhr.send();
        });
    }

    function handleFileSelect() {
        const container = new DataTransfer();
        for (const file of fileInput.files) {
            container.items.add(file);
        }
        fileInput.files = container.files;
        updateFileList();
    }

    function removeFile(file) {
        const container = new DataTransfer();
        for (const f of fileInput.files) {
            if (f !== file) {
                container.items.add(f);
            }
        }
        fileInput.files = container.files;
        updateFileList();
    }

    function updateFileList() {
        fileList.innerHTML = '';
        for (const file of fileInput.files) {
            const fileItem = document.createElement('div');
            fileItem.textContent = file.name;
            const removeButton = document.createElement('button');
            removeButton.textContent = 'Remove';
            removeButton.addEventListener('click', () => {
                removeFile(file);
            });
            fileItem.appendChild(removeButton);
            fileList.appendChild(fileItem);
        }
    }
</script>

    <script>
        getJenisPelanggaran();

        function getJenisPelanggaran() {
            $.ajax({
                url: window.location.origin + '/api/kejadian/listKejadian',
                type: 'POST',
                data: {
                    klasifikasi_name: "Keamanan Laut"
                },
                success: function(response) {
                    $("#jenis_pelanggaran").empty();
                    var awal = `<option value="" selected disabled hidden> Pilih </option>`
                    $("#jenis_pelanggaran").append(awal);

                    response.data.data_jenis_kejadian.forEach((x, i) => {
                        $("#jenis_pelanggaran").append("<option value='" + x.id_jenis_kejadian + "'>" + x.nama_kejadian + "</option>");
                    });

                },
                error: function(response) {
                    Swal.fire('Gagal!', 'Data Tidak Ada!!', 'error');
                }
            });
        }
    </script>

    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeQVXtdaEgd0Cfvjy41mjGZ6_f5thMVt4&loading=async&language=id&callback=initMap"></script>
    <script>
        let marker;

        function initMap() {
            try {
                map = new google.maps.Map(document.getElementById('map_location'), {
                    center: { lat: -2.548926, lng: 118.0148634 },
                    zoom: 4
                });

                infoWindow = new google.maps.InfoWindow();
                geocoder = new google.maps.Geocoder();

                map.addListener('click', function(mapsMouseEvent) {
                    handleLocation(mapsMouseEvent.latLng);
                });
            } catch (error) {
                console.error('Error initializing map:', error);
            }
        }

        function handleLocation(latLng) {
            geocoder.geocode({ 'location': latLng }, function(results, status) {
                if (status === google.maps.GeocoderStatus.OK && results[0]) {
                    updateLocationInfo(results[0]);
                } else {
                    console.error('Geocode was not successful for the following reason: ' + status);
                }
            });
        }

        function search_location() {
            let address = $('#lokasi_kejadian').val();
            geocoder.geocode({ 'address': address }, function(results, status) {
                if (status === google.maps.GeocoderStatus.OK && results[0]) {
                    updateLocationInfo(results[0]);
                } else {
                    console.error('Geocode was not successful for the following reason: ' + status);
                }
            });
        }

        function updateLocationInfo(result) {
            infoWindow.close();

            let location = result.formatted_address;
            let index = location.indexOf(' ') + 1;
            let address = location.substring(index);

            let coordinates = result.geometry.location;
            $('#latitude').val(coordinates.lat());
            $('#longitude').val(coordinates.lng());

            $('#lokasi_kejadian').val(address);
            $('#koordinat').val(`Latitude: ${coordinates.lat()}; Longitude: ${coordinates.lng()}`);

            if (marker) {
                marker.setMap(null);
            }

            marker = new google.maps.Marker({
                position: coordinates,
                title: address,
                draggable: true,
                map: map
            });

            google.maps.event.addListener(marker, 'click', function() {
                infoWindow.setContent('<b>' + this.title + '</b>');
                infoWindow.open(map, this);
            });

            google.maps.event.addListener(marker, 'dragend', function(evt) {
                handleLocation(evt.latLng);
            });
        }
    </script>

    <script>
        $(document).ready(function() {
            $("#form-kejadian-keamanan").submit(function(e) {
                e.preventDefault();

                var formData = new FormData(this);
                
                // Get textarea content and process bullet points
                let linkBeritaContent = $('#link_berita').val();
                let items = linkBeritaContent.split('\n').map(item => item.trim().replace('• ', '')).filter(Boolean);
                let processedContent = items.join('\n');
                
                formData.set('link_berita', processedContent);
                formData.append("jenis_kejadian_id", $('#jenis_pelanggaran').val());

                $.ajax({
                    url: $(this).attr("action"),
                    method: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        Swal.fire('Success!', response.data.message, response.status).then(() => {
                           window.location.href = '/kejadian/keamanan';
                        });
                    },
                    error: function(response) {
                        Swal.fire('Gagal!', response.responseJSON.message, 'error');
                    }
                });
            });
        });
    </script>

{{ end }}
