{{ define "form_kejadian_keselamatan.tmpl"}}

{{ template "templates/layout.tmpl" .}}

    <form id="form-kejadian-keselamatan" action="{{.kejadianKeselamatanURL}}" method="post" enctype="multipart/form-data">
        <div class="card-body col-md-12 col-lg-12">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="hidden" id="latitude" name="latitude" />
                            <input type="hidden" id="longitude" name="longitude" />
                            <input type="hidden" id="nik" name="nik" value="{{.data.nik}}" />
                            <input type="hidden" id="id_kejadian_keselamatan" name="id_kejadian_keselamatan" value="" />

                            <div class="form-group row mb-1">
                                <div class="col-12">
                                    <label class="mb-0"><h5>Data Kejadian</h5></label>
                                    <hr class="mt-1">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="tanggal_kejadian">Tanggal</label>
                                <div class="col-sm-8">
                                    <input type="date" id="tanggal_kejadian" name="tanggal" class="form-control form-control-sm" required
                                    oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Pilih tanggal kejadian.')">
                                </div>
                                <script>
                                    let today = new Date();
                                    today.setHours(23, 59, 59, 999); // Set to end of current day
                                    document.getElementById('tanggal_kejadian').max = today.toISOString().split('T')[0];
                                </script>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="jenis_kecelakaan">Jenis Kecelakaan</label>
                                <div class="col-sm-8">
                                    <select name="jenis_kejadian_id" id="jenis_kecelakaan" 
                                        class="form-control form-control-sm select2_jenis_kecelakaan"
                                        data-placeholder="Pilih Jenis Kecelakaan"
                                        oninvalid="this.setCustomValidity('Pilih jenis kecelakaan.')" required>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="nama_kapal">Nama Kapal</label>
                                <div class="col-sm-8">
                                    <input type="text" id="nama_kapal" name="nama_kapal" class="form-control form-control-sm" required
                                    oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Nama kapal harus diisi. Jika kosong isi dengan `-`')">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="pelabuhan_asal">Pelabuhan Asal</label>
                                <div class="col-sm-8">
                                    <input type="text" id="pelabuhan_asal" name="pelabuhan_asal" class="form-control form-control-sm" required
                                    oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Pelabuhan Asal harus diisi. Jika kosong isi dengan `-`')">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="pelabuhan_tujuan">Pelabuhan Tujuan</label>
                                <div class="col-sm-8">
                                    <input type="text" id="pelabuhan_tujuan" name="pelabuhan_tujuan" class="form-control form-control-sm" required
                                    oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Pelabuhan tujuan harus diisi. Jika kosong isi dengan `-`')">
                                </div>
                            </div>

                            <div class="form-group row mb-1 mt-4">
                                <div class="col-12">
                                    <label class="mb-0"><h5>Keterangan Kejadian</h5></label>
                                    <hr class="mt-1">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="korban_tewas">Korban Tewas</label>
                                <div class="col-sm-8">
                                    <input type="number" value="0" min="0" id="korban_tewas" name="korban_tewas" 
                                    class="form-control form-control-sm no-spinner" required
                                    oninput="this.value = this.value === '0' ? '0' : this.value.replace(/^0+/, '').replace(/[^0-9]/g, ''); setCustomValidity('')"
                                    
                                    oninvalid="this.setCustomValidity('Korban tewas harus diisi.')">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="korban_selamat">Korban Selamat</label>
                                <div class="col-sm-8">
                                    <input type="number" value="0" min="0" id="korban_selamat" name="korban_selamat" 
                                    class="form-control form-control-sm no-spinner" required
                                    oninput="this.value = this.value === '0' ? '0' : this.value.replace(/^0+/, '').replace(/[^0-9]/g, ''); setCustomValidity('')"
                                    
                                    oninvalid="this.setCustomValidity('Korban selamat harus diisi.')">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="korban_hilang">Korban Hilang</label>
                                <div class="col-sm-8">
                                    <input type="number" value="0" min="0" id="korban_hilang" name="korban_hilang" 
                                    class="form-control form-control-sm no-spinner" required
                                    oninput="this.value = this.value === '0' ? '0' : this.value.replace(/^0+/, '').replace(/[^0-9]/g, ''); setCustomValidity('')"
                                    
                                    oninvalid="this.setCustomValidity('Korban hilang harus diisi.')">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="penyebab">Penyebab</label>
                                <div class="col-sm-8">
                                    <textarea id="penyebab" name="penyebab" class="form-control form-control-sm" required 
                                    style="font-size:1em;" oninput="setCustomValidity('')" 
                                    oninvalid="this.setCustomValidity('Penyebab harus diisi.')"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="tindak_lanjut">Tindak Lanjut</label>
                                <div class="col-sm-8">
                                    <textarea id="tindak_lanjut" name="tindak_lanjut" class="form-control form-control-sm" required 
                                    style="font-size:1em;" oninput="setCustomValidity('')" 
                                    oninvalid="this.setCustomValidity('Tindak lanjut harus diisi. Jika kosong isi dengan `-`')"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="informasi_kategori">Informasi Tambahan</label>
                                <div class="col-sm-8">
                                    <textarea id="informasi_kategori" name="keterangan" class="form-control form-control-sm" required 
                                    style="font-size:1em;" oninput="setCustomValidity('')" 
                                    oninvalid="this.setCustomValidity('Informasi tambahan harus diisi. Jika kosong isi dengan `-`')"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="sumber_berita">Instansi Penindak</label>
                                <div class="col-sm-8">
                                    <input type="text" id="sumber_berita" name="sumber_berita" class="form-control form-control-sm" required
                                    oninput="setCustomValidity('')" 
                                    oninvalid="this.setCustomValidity('Instansi penindak harus diisi. Jika kosong isi dengan `-`')">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="link_berita">Sumber Link Berita</label>
                                <div class="col-sm-8">
                                    <textarea id="link_berita" name="link_berita" class="form-control form-control-sm" required 
                                    style="font-size:1em;" oninput="setCustomValidity('')" 
                                    oninvalid="this.setCustomValidity('Sumber link berita harus diisi. Jika kosong isi dengan `-`')"></textarea>
                                    <small class="text-danger error-text" id="link_berita_error"></small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="kategori_sumber">Kategori Sumber</label>
                                <div class="col-sm-8">
                                    <select name="kategori_sumber" id="kategori_sumber"
                                        class="form-control form-control-sm" required>
                                        <option value="Media Online"> Media Online </option>
                                        <option value="Puldata"> Puldata </option>
                                        <option value="Media Online dan Puldata"> Media Online dan Puldata </option>
                                        <option value="Media Online dan KPIML" selected> Media Online dan KPIML </option>
                                        <option value="Media Online dan Operasi"> Media Online dan Operasi </option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                    <input type="text" name="cari_lokasi" id="cari_lokasi" class="form-control bg-light border-0 small auto-width"  placeholder="Cari Lokasi" aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button onclick="search_location(); return false;" class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                

                                <div class="ml-auto">
                                    <div class="form-inline">
                                        <select class="custom-select my-1 mr-sm-2" name="zona" id="zona" 
                                        oninvalid="this.setCustomValidity('Pilih zona')" required>
                                            <option value="" selected disabled hidden> Pilih Zona </option>
                                            <option value="BARAT"> Barat </option>
                                            <option value="TENGAH"> Tengah </option>
                                            <option value="TIMUR"> Timur </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div id="map_location" style="border:1px solid #CCC; height:420px;"></div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input type="text" style="text-align: center" id="koordinat" name="koordinat" readonly="readonly" 
                                    class="form-control form-control-sm" required
                                    oninput="setCustomValidity('')"
                                    oninvalid="this.setCustomValidity('Koordinat harus diisi. Jika kosong isi dengan `-`')">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="lokasi_kejadian">Lokasi Kejadian</label>
                                <div class="col-sm-8">
                                   <input type="text" id="lokasi_kejadian" name="lokasi_kejadian" class="form-control form-control-sm" required
                                    oninput="setCustomValidity('')" 
                                    oninvalid="this.setCustomValidity('Lokasi kejadian harus diisi.')">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="files">Image</label>
                                <div class="col-sm-8">
                                    <input type="file" id="file_input" name="files" accept="image/*" multiple>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    <div id="file-list" class="mt-2"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <button type="submit" class="btn btn-primary">
                <span class="fas fa-save mr-1"></span>
                Save
            </button>
            <button type="button" id="btn_batal" class="btn btn-danger" 
                onclick="document.location='/kejadian/keselamatan'">
                <span class="fas fa-times mr-1"></span>
                Cancel
            </button>
        </div>
        <!-- /.box-footer -->
    </form>
{{ template "layouts/footer.tmpl" . }}
{{ template "layouts/script.tmpl" . }}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeQVXtdaEgd0Cfvjy41mjGZ6_f5thMVt4&loading=async&callback=initMap"></script>


    <script>
        getJenisPelanggaran();

        function getJenisPelanggaran() {
            $.ajax({
                url: window.location.origin + '/api/kejadian/listKejadian',
                type: 'POST',
                headers: {
                    'Authorization': 'Bearer ' + {{.data.token.access_token}}
                },
                data: {
                    klasifikasi_name: "Keselamatan Laut"
                },
                success: function(response) {
                    $("#jenis_kecelakaan").empty();
                    var awal = `<option value="" selected disabled hidden> Pilih Jenis Kecelakaan </option>`
                    $("#jenis_kecelakaan").append(awal);

                    response.data.data_jenis_kejadian.forEach((x, i) => {
                        $("#jenis_kecelakaan").append("<option value='" + x.id_jenis_kejadian + "'>" + x.nama_kejadian + "</option>");
                    });

                },
                error: function(response) {
                    Swal.fire('Gagal!', 'Data Tidak Ada!!', 'error');
                }
            });
        }
    </script>

    {{ template "layouts/script_form_map.tmpl" . }}
    
    <script>
        $('.select2_jenis_kecelakaan').select2();

        // Auto-resize textarea function
        function autoResize(textarea) {
            textarea.style.height = 'auto';
            textarea.style.height = textarea.scrollHeight + 'px';
        }
        // Apply to all textareas
        document.querySelectorAll('textarea').forEach(textarea => {
            textarea.addEventListener('input', function() {
                autoResize(this);
            });
            // Initial resize
            autoResize(textarea);
        });

        // Add this script to handle custom validation messages
        document.querySelectorAll('input,textarea, select').forEach(element => {
            // Create error span for each input
            const errorSpan = document.createElement('span');
            errorSpan.className = 'text-danger error-message';
            element.parentNode.appendChild(errorSpan);

            // Handle validation
            element.addEventListener('invalid', function(e) {
                e.preventDefault();
                
                // Check if element has value for Select2
                if ($(this).hasClass('select2_jenis_kecelakaan')) {
                    if (this.value) {
                        $(this).next('.select2-container').find('.select2-selection').removeClass('is-invalid');
                        $(this).siblings('.error-message').text('');
                        return;
                    }
                }

                const errorMessage = this.validationMessage;

                // Handle Select2 validation
                if ($(this).hasClass('select2_jenis_kecelakaan')) {
                    $(this).next('.select2-container').find('.select2-selection').addClass('is-invalid');
                    $(this).siblings('.error-message').text(errorMessage);
                } else {
                    this.nextElementSibling.textContent = errorMessage;
                }

                // Clear error on input/change
                $(element).on('change select2:select', function() {
                    if ($(this).hasClass('select2_jenis_kecelakaan')) {
                        $(this).next('.select2-container').find('.select2-selection').removeClass('is-invalid');
                    }
                    $(this).siblings('.error-message').text('');
                    this.setCustomValidity('');
                });

                element.addEventListener('input', function() {
                    // Clear error message
                    this.classList.remove('is-invalid');
                    const errorSpan = this.nextElementSibling;
                    if (errorSpan && errorSpan.classList.contains('error-message')) {
                        errorSpan.textContent = '';
                    }
                    // Clear custom validity
                    this.setCustomValidity('');
                });
            });
        });

        // Add CSS for error messages
        const style = document.createElement('style');
        style.textContent = `
            .error-message {
                display: block;
                font-size: 12px;
                margin-top: 5px;
            }
        `;
        document.head.appendChild(style);

        const linkBeritaTextarea = document.getElementById('link_berita');

        linkBeritaTextarea.addEventListener('input', function() {
            $("#link_berita_error").text("")
            if (this.value === '') {
                this.value = '• ';
                // Set cursor position after bullet point
                this.selectionStart = this.selectionEnd = this.value.length;
            }
            this.style.height = 'auto';
            this.style.height = this.scrollHeight + 'px';
        });

        linkBeritaTextarea.addEventListener('keydown', function(e) {
            if (e.key === 'Enter') {
                e.preventDefault();
                const cursorPosition = this.selectionStart;
                const currentValue = this.value;
                const newValue = currentValue.slice(0, cursorPosition) + '\n• ' + currentValue.slice(cursorPosition);
                this.value = newValue;
                this.selectionStart = this.selectionEnd = cursorPosition + 3;
            }
        });

        var id_kejadian_keselamatan = {{.idKejadianKeselamatan}};
        var jenisPelanggaranSelected = null;
    </script>
    
    {{ template "layouts/script_upload_image.tmpl" . }}

    <script>
        async function getKejadianKeselamatan(id) {
            try {
                const response = await $.ajax({
                    url: window.location.origin + {{ .getKejadianKeselamatanURL }} + "?id_kejadian_keselamatan=" + id,
                    type: 'GET',
                    headers: {
                        'Authorization': 'Bearer ' + {{.data.token.access_token}}
                    },
                });

                const data = response.data.data_kejadian_keselamatan;
                if (data !== null) {
                    $("#id_kejadian_keselamatan").val(data.id_kejadian_keselamatan);
                    $("#tanggal_kejadian").val(data.tanggal);

                    $("#jenis_kecelakaan").val(data.jenis_kejadian_id).trigger('change');
                    $("#jenis_kecelakaan").prop('disabled',true);
                    $("#nama_kapal").val(data.nama_kapal);
                    $("#sumber_berita").val(data.sumber_berita);
                    const links = data.link_berita.split('\n');
                    const bulletPoints = links.map(link => `• ${link}`).join('\n');
                    $("#link_berita").val(bulletPoints);

                    linkBeritaTextarea.style.height = 'auto';
                    linkBeritaTextarea.style.height = linkBeritaTextarea.scrollHeight + 'px';

                    $("#cari_lokasi").val(`${data.latitude} ${data.longitude}`);
                    $("#lokasi_kejadian").val(data.lokasi_kejadian);
                    let coordinates = $('#cari_lokasi').val().split(' ');

                    $("#penyebab").val(data.penyebab);
                    $("#pelabuhan_asal").val(data.pelabuhan_asal);
                    $("#bendera").val(data.bendera);
                    $("#pelabuhan_tujuan").val(data.pelabuhan_tujuan);
                    $("#kategori_sumber").val(data.tipe_sumber_kejadian);
                    $("#tindak_lanjut").val(data.tindak_lanjut);
                    $("#korban_tewas").val(data.korban.korban_tewas);
                    $("#korban_selamat").val(data.korban.korban_selamat);
                    $("#korban_hilang").val(data.korban.korban_hilang);
                    $("#informasi_kategori").val(data.keterangan);
                    $("#zona").val(data.zona);

                    let coordinateLatlng = new google.maps.LatLng(
                        parseFloat(coordinates[0]), 
                        parseFloat(coordinates[1])
                    );
                    handleLocation(coordinateLatlng);

                    const container = new DataTransfer();

                    for (const file of data.file_image) {
                        const imgBlob = await getImgURLPromise(file);
                        const fileName = file.filename;
                        const newFile = new File([imgBlob], fileName, { type: "image/jpeg", lastModified: new Date().getTime() }, 'utf-8');
                        container.items.add(newFile);
                    }

                    fileInput.files = container.files;
                    updateFileList();
                }
            } catch (error) {
                console.log(error);
            }
        }
        if (id_kejadian_keselamatan !== null && id_kejadian_keselamatan !== "" && id_kejadian_keselamatan !== "<nil>") {
            getKejadianKeselamatan(id_kejadian_keselamatan);
        }
        $(document).ready(function() {
            $("#form-kejadian-keselamatan").submit(function(e) {
                e.preventDefault();

                $("#link_berita_error").text("");

                var formData = new FormData(this);

                // Process bullet points
                let linkBeritaContent = $('#link_berita').val();
                let items = linkBeritaContent.split('\n')
                    .map(item => item.trim().replace(/^[•]\s*/, ''))  // Using regex to match bullet at start
                    .filter(Boolean);
                let processedContent = items.join('\n');

                if (processedContent === ''){
                    $("#link_berita_error").text("Link berita harus diisi. Jika kosong isi dengan `-`");
                    $("#link_berita")[0].scrollIntoView({ behavior: 'smooth', block: 'center' });
                    return false;
                }

                formData.set('link_berita', processedContent);
                formData.append("jenis_kejadian_id", $('#jenis_kecelakaan').val());

                $.ajax({
                    url: $(this).attr("action"),
                    method: "POST",
                    headers: {
                        'Authorization': 'Bearer ' + {{.data.token.access_token}}
                    },
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        Swal.fire('Success!', response.data.message, response.status).then(() => {
                           window.location.href = '/kejadian/keselamatan';
                        });
                    },
                    error: function(response) {
                        console.log(response);
                        Swal.fire('Gagal!', response.responseJSON.message, 'error');
                    }
                });
            });

        });
    </script>

{{ end }}
