<!DOCTYPE html>
<html>
<head>
    <title>LAPORAN MINGGUAN DATIN BULAN FEBRUARI 2024</title>
    <style>
        /* Gaya CSS Anda di sini */
    </style>
</head>
<body>
    <h1>LAPORAN MINGGUAN DATIN BULAN FEBRUARI 2024</h1>

    <h2>Jumlah Pelanggaran Laut Minggu Ke 2 Bulan Februari 2024</h2>

    <table>
        <thead>
            <tr>
                <th>NO</th>
                <th>JENIS KEJADIAN</th>
                <th>01-04 FEB</th>
                <th>05-11 FEB</th>
                <th>12-18 FEB</th>
                <th>19-25 FEB</th>
                <th>26-29 FEB</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>HUMAN TRAFFICKING/PEOPLE SMUGGLING</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>15</td>
                <td>PENYELUNDUPAN SENJATA</td>
                <td>0</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>0</td>
            </tr>
            <tr>
                <td></td>
                <td>TOTAL</td>
                <td>6</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>10</td>
            </tr>
        </tbody>
    </table>

    </body>
</html>
