{{ define "jenis_kejadian.tmpl"}}

{{ template "templates/layout.tmpl" .}}
<input type="hidden" class="form-control" id="tanggal_awal" name="tanggal_awal"/>
<input type="hidden" class="form-control" id="tanggal_akhir" name="tanggal_akhir"/>
<input type="hidden" class="form-control" id="nik" name="nik" value={{.data.nik}} />

    <div class="card-body col-md-12 col-lg-12">
        <div class="card card-custom gutter-b">
            <div class="card-body py-10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-inline">
                            <div class="ml-auto">   
                                <a href="/jenis_kejadian/form_jenis_kejadian" class="btn btn-primary py-2 px-4 font-weight-bolder font-size-m">
                                    <i class="flaticon2-plus icon-sm"></i>Tambah Data
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top:20px">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-head-custom table-head-bg table-hover text-center display nowrap" role="grid" id="kt_datatable" style="width:100%">
                                <thead>
                                    <tr class="text-center" role="row">
                                        <th>Nama Kejadian</th>
                                        <th>Nama Klasifikasi</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ template "layouts/footer.tmpl" . }}
 {{ template "layouts/script.tmpl" . }}

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

{{ template "layouts/script_datatables.tmpl" . }}

<script type="text/javascript">
    let table = $('#kt_datatable').DataTable({
        dom: '<"pull-left"f>tip',
        scrollY: '80vh',
        scrollX: true,
        scrollCollapse: true,
        searching: true,
        columnDefs: [{
            className: 'dt-body-nowarp',
            targets: "_all"
        }],
        processing: true,
        bLengthChange: true,
        language: {
            search: "Filter"
        }
    });
</script>

<script type="text/javascript">
    searchDataJenisKejadian();
    function searchDataJenisKejadian() {
        $.ajax({
            url: {{.dataJenisKejadianURL}},
            method: "POST",
            success: function(result) {
                arr_data = result.data.data_jenis_kejadian
                table.clear().draw();
                if (arr_data.length >0){
                    arr_data.forEach((x,i)=>{
                        var nama_kejadian = `<span class="font-weight-bold font-size-sm text-dark-50">${x.nama_kejadian}</span>`
                        var klasifikasi_name = `<span class="font-weight-bold font-size-sm text-dark-50">${x.klasifikasi_name}</span>`
                        var url = window.location.href + `form_jenis_kejadian?id_jenis_kejadian=${x.id_jenis_kejadian}`
                        var action = `  <a href="${url}" class="btn btn-icon my-2 btn-sm btn-warning">
                                            <i class="flaticon2-edit">Edit</i>
                                        </a>
                                        <button type="button" onclick="deleteJenisKejadian('${x.id_jenis_kejadian}')" class="btn btn-icon my-2 btn-sm btn-danger">
                                            <i class="flaticon2-trash">Delete</i>
                                        </button>`
                        table.row.add([nama_kejadian, klasifikasi_name, action]).draw(false)
                    })
                }
            },
            error: function(data) {
                table.clear().draw();
                Swal.fire('Gagal!', 'Data Tidak Ada!!', 'error');
            }
        });
    }
        
</script>

<script>
    function deleteJenisKejadian(id_jenis_kejadian){
        var data = {
            id_jenis_kejadian: id_jenis_kejadian
        }
        Swal.fire({
            title: 'Apakah anda yakin ingin Menghapus Data Kejadian ini?',
            text: "Anda tidak akan dapat mengembalikan data ini!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Ya, Hapus!',
            cancelButtonText: 'Batal'
        }).then(function(result){
            console.log(result)
            if (result.value) {
                $.ajax({
                    url: {{.deleteJenisKejadianURL}},
                    type: "DELETE",
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(data),
                    success: function(result) {
                        Swal.fire('Berhasil!', 'Data berhasil dihapus.', 'success');
                        searchDataJenisKejadian()
                    },
                    error: function(err){
                        Swal.fire('Gagal!', 'Gagal Menghapus Data.', 'error');
                    }
                });
            }
        });

    }
</script>
{{ end }}
