{{ define "kejadian_keamanan.tmpl"}}

{{ template "templates/layout.tmpl" .}}
<input type="hidden" class="form-control" id="tanggal_awal" name="tanggal_awal"/>
<input type="hidden" class="form-control" id="tanggal_akhir" name="tanggal_akhir"/>
<input type="hidden" class="form-control" id="nik" name="nik" value={{.data.nik}} />

    <div class="card-body col-md-12 col-lg-12">
        <div class="card card-custom gutter-b">
            <div class="card-body py-10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-inline">
                            <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc" class="selectbox">
                                <i class="fa fa-calendar"></i>&nbsp;
                                <span></span> <i class="caret"></i>
                            </div>

                            <div style="margin-left:10px">
                                <select class="custom-select my-1 mr-sm-2" name="zona" id="zona" data-error="Pilih Zona" required>
                                    <option value="" selected disabled hidden> Pilih Zona </option>
                                    <option value="">Semua</option>
                                    <option value="BARAT"> Barat </option>
                                    <option value="TENGAH"> Tengah </option>
                                    <option value="TIMUR"> Timur </option>
                                </select>
                                <button onclick="searchDataKeamanan()" class="btn btn-primary">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>

                            <div class="ml-auto">   
                                <button onclick="exportExcel()" class="btn btn-success py-2 px-4 font-weight-bolder font-size-m mr-2">
                                    <i class="fas fa-download icon-sm mr-2"></i>Export Excel
                                </button>
                                {{if .data.is_staff}}
                                    <a href="/kejadian/keamanan/form_kejadian_keamanan" class="btn btn-primary py-2 px-4 font-weight-bolder font-size-m">
                                        <i class="fas fa-plus icon-sm mr-2"></i>Tambah Data
                                    </a>
                                {{end}}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row" style="margin-top:20px">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-head-custom table-head-bg table-hover text-center display nowrap" role="grid" id="kt_datatable" style="width:100%">
                                <thead>
                                    <tr class="text-center" role="row">
                                        <th>Tanggal</th>
                                        <th>Jenis Pelanggaran</th>
                                        <th>Lokasi Kejadian</th>
                                        <th>Zona</th>
                                        {{if .data.is_staff}}
                                            <th>Pilihan</th>
                                        {{end}}
                                    </tr>
                                </thead>

                                <tbody>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Detail -->
    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailModalLabel">Detail Kejadian Keamanan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

{{ template "layouts/footer.tmpl" . }}
{{ template "layouts/script.tmpl" . }}

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<script type="text/javascript">
    var start = moment();
    var end = moment();

    function cb(start, end) {
        $('#tanggal_awal').val(start.format('YYYY-MM-DD'));
        $('#tanggal_akhir').val(end.format('YYYY-MM-DD'));
        console.log($('#tanggal_awal').val());
        console.log($('#tanggal_akhir').val());

        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);

</script>

{{ template "layouts/script_datatables.tmpl" . }}

<script type="text/javascript">
    let table = $('#kt_datatable').DataTable({
        dom: '<"row"<"col-sm-12"f>>tip',
        scrollY: '80vh', 
        scrollX: true,
        scrollCollapse: true,
        searching: true,
        columnDefs: [{
            targets: [0,1,2,3],
            createdCell: function (td,cellData, rowData, row, col) {
                $(td).css('cursor', 'pointer');
                $(td).on('click', function(){
                    const id = arr_data[row].id_kejadian_keamanan;
                    //window.location.href = `/kejadian/keamanan/detail?id_kejadian_keamanan=${id}`;
                });
            }
        },
        {
            // Tanggal column
            targets: [0],
            width: '120px',
            className: 'dt-head-center dt-body-nowrap'
        },
        {
            // Jenis Pelanggaran column  
            targets: [1],
            width: '200px',
            className: 'dt-head-center dt-body-nowrap',
            render: function(data, type, row) {
                return '<div style="white-space: normal; word-wrap: break-word; max-width: 200px;">' + data + '</div>';
            }
        },
        {
            // Lokasi Kejadian column
            targets: [2],
            width: '250px', 
            className: 'dt-head-center text-wrap',
            render: function(data, type, row) {
                return '<div style="white-space: normal; word-wrap: break-word; max-width: 250px;">' + data + '</div>';
            }
        },
        {
            // Zona column
            targets: [3],
            width: '100px',
            className: 'dt-head-center dt-body-nowrap'
        {{if .data.is_staff}}
        },
        {
            // Pilihan column
            targets: [4],
            width: '100px',
            className: 'dt-head-center dt-body-nowrap'
        {{end}}
        }],
        processing: true,
        bLengthChange: true,
        language: {
            search: "Search"
        }
    });


</script>

<script type="text/javascript">
    searchDataKeamanan();
    function searchDataKeamanan() {
        var nik = $('#nik').val();
        var tanggal_awal = $('#tanggal_awal').val();
        var tanggal_akhir = $('#tanggal_akhir').val();
        var zona = $('#zona').val();
        var key = $('#key').val();

        $.ajax({
            url: {{.dataKeamananURL}},
            method: "POST",
            headers: {
                'Authorization': 'Bearer ' + {{.data.token.access_token}}
            },
            data: {
                nik: nik, 
                tanggal_awal: tanggal_awal,
                tanggal_akhir: tanggal_akhir,
                zona: zona,
                key: key
            },
            success: function(result) {
                arr_data = result.data.data_kejadian_keamanan
                table.clear().draw();
                if (arr_data.length >0){
                    arr_data.forEach((x,i)=>{
                        var tanggal = `<input type="hidden" value="${x.id_kejadian_keamanan}"><span class="font-weight-bold font-size-sm text-dark-50">${x.tanggal}</span>`
                        var nama_kapal = `<span class="font-weight-bold font-size-sm text-dark-50">${x.nama_kapal}</span>`
                        var jenis_pelanggaran = `<span class="font-weight-bold font-size-sm text-dark-50">${x.jenis_kejadian.nama_kejadian}</span>`
                        var lokasi_kejadian = `<span class="font-weight-bold font-size-sm text-dark-50">${x.lokasi_kejadian}</span>`
                        var zona = `<span class="font-weight-bold font-size-sm text-dark-50">${x.zona}</span>`
                        var url = window.location.href + `form_kejadian_keamanan?id_kejadian_keamanan=${x.id_kejadian_keamanan}`
                        var action = `<div class="d-flex justify-content-center align-items-center">
                                        <a href="${url}" class="btn btn-icon btn-sm btn-dark mx-2">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <button type="button" onclick="deleteKejadianKeamanan('${x.id_kejadian_keamanan}')" class="btn btn-icon btn-sm btn-dark mx-2">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>`
                        var detail = `  <div class="ml-auto"> 
                                            <a href="#" class="btn btn-icon my-2 btn-sm btn-info">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </div>`
                        {{if .data.is_staff}}
                            table.row.add([tanggal, jenis_pelanggaran, lokasi_kejadian, zona, action]).draw(false)
                        {{else}}
                            table.row.add([tanggal, jenis_pelanggaran, lokasi_kejadian, zona]).draw(false)
                        {{end}}
                    })
                }
            },
            error: function(data) {
                table.clear().draw();
                Swal.fire('Gagal!', 'Data Tidak Ada!!', 'error');
            }
        });
    }

    $('.dataTable').on('click', 'tbody tr', function() {
        var row = table.row(this).data();
        var id = $(row[0])[0].value;
        $('#detailModal .modal-body').html(`<iframe src="/detail/keamanan/${id}" width="100%" height="500px" frameborder="0"></iframe>`);
        $('#detailModal').modal('show');
    });
        
</script>

<script>
    function deleteKejadianKeamanan(id_kejadian_keamanan){
        var data = {
            id_kejadian_keamanan: id_kejadian_keamanan
        }
        Swal.fire({
            title: 'Apakah anda yakin ingin Menghapus Data Pelanggaran ini?',
            text: "Anda tidak akan dapat mengembalikan data ini!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Ya, Hapus!',
            cancelButtonText: 'Batal'
        }).then(function(result){
            console.log(result)
            if (result.value) {
                $.ajax({
                    url: {{.deleteKejadianKeamananURL}},
                    type: "DELETE",
                    headers: {
                        'Authorization': 'Bearer ' + {{.data.token.access_token}}
                    },
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(data),
                    success: function(result) {
                        Swal.fire('Berhasil!', 'Data berhasil dihapus.', 'success');
                        searchDataKeamanan()
                    },
                    error: function(err){
                        Swal.fire('Gagal!', 'Gagal Menghapus Data.', 'error');
                    }
                });
            }
        });

    }
</script>

<script>
function exportExcel() {
    var nik = $('#nik').val();
    var tanggal_awal = $('#tanggal_awal').val(); 
    var tanggal_akhir = $('#tanggal_akhir').val();
    var zona = $('#zona').val();

    // Create form data
    var formData = new FormData();
    formData.append('nik', nik);
    formData.append('tanggal_awal', tanggal_awal);
    formData.append('tanggal_akhir', tanggal_akhir);
    formData.append('zona', zona);

    // Make AJAX request
    $.ajax({
        url: '/api/kejadian/keamanan/export-excel',
        method: 'POST',
        headers: {
            'Authorization': 'Bearer ' + {{.data.token.access_token}}
        },
        data: formData,
        processData: false,
        contentType: false,
        xhrFields: {
            responseType: 'blob'
        },
        success: function(response) {
            // Create blob link to download
            const url = window.URL.createObjectURL(new Blob([response]));
            const link = document.createElement('a');
            link.href = url;
            link.setAttribute('download', 'kejadian_keamanan.xlsx');
            document.body.appendChild(link);
            link.click();
            link.remove();
        },
        error: function(xhr, status, error) {
            Swal.fire('Gagal!', 'Gagal mengexport data', 'error');
        }
    });
}

</script>
{{ end }}
