<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, worldd!</title>
    <style>
        @page {
            size: A4;
            margin: 1cm;
        }

        body {
            margin: 0;
        }

        h3{
            font-size: 22px;
            text-align: center;
            font-weight: bold;
        }

        h5{
            font-size: 19px;
            font-weight: bold;
            margin-top: 5;
        }

        .lead{
            font-size: 17px;
        }

        .container {
            margin: 0 auto;
        }

    </style>
</head>

<body>
    <div class="container">
        <div class="row align-items-center custom-bg-blue mb-3">
            <div class="col text-center">
                <h3>
                    LAPORAN REKAPITULASI KEAMANAN DAN KESELAMATAN LAUT DI WILAYAH PERAIRAN INDONESIA BULAN
                    {{.BulanCapital}} {{.Tahun}}
                </h3>
            </div>
        </div>
        <br>
        <div class="row align-items-center mb-3">
            <div class="col">
                <div >
                    <table class="table table-bordered table-sm" style="font-size: small;">
                        <thead>
                            <tr>
                                <th colspan="6" style="text-align: center;">
                                    Tabel Rekapitulasi Keamanan Laut di Wilayah Perairan Indonesia
                                </th>
                            </tr>
                            <tr>
                                <th style="text-align: center;">KEAMANAN LAUT</th>
                                <th style="text-align: center;">JUMLAH KEJADIAN</th>
                                <th style="text-align: center;">LOKASI KEJADIAN</th>
                                <th style="text-align: center;">WILAYAH / ZONA</th>
                                <th style="text-align: center;">AKSI APARAT / INSTANSI</th>
                                <th style="text-align: center;">KETERANGAN</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range $key := .KejadianKeamanan}}
                                {{range $index,$val := $key.KejadianKeamanan}}
                                <tr>                                        
                                    <td rowspan="{{$key.Jumlah}}">A</td>
                                    <td rowspan="{{$key.Jumlah}}">B</td>
                                    <td rowspan="{{$key.Jumlah}}">C</td>
                                    <td rowspan="{{$key.Jumlah}}">D</td>
                                </tr>
                                {{if gt $key.Jumlah 1}}
                                    {{range $i := (seq 1 (sub $key.Jumlah 1))}}
                                        <tr>
                                            <td>{{$key.NamaKejadian}}</td>
                                            <td>{{$key.Jumlah}}</td>
                                        </tr>
                                    {{end}}
                                {{end}}
                                {{end}}
                            {{end}}
                        </tbody>
                    </table>
                </div>

                <div >
                    <table class="table table-bordered table-sm" style="font-size: small;">
                        <thead>
                            <tr>
                                <th colspan="6" style="text-align: center;">
                                    Tabel Rekapitulasi Keamanan Laut di Wilayah Perairan Indonesia
                                </th>
                            </tr>
                            <tr>
                                <th style="text-align: center;">KEAMANAN LAUT</th>
                                <th style="text-align: center;">JUMLAH KEJADIAN</th>
                                <th style="text-align: center;">LOKASI KEJADIAN</th>
                                <th style="text-align: center;">WILAYAH / ZONA</th>
                                <th style="text-align: center;">AKSI APARAT / INSTANSI</th>
                                <th style="text-align: center;">KETERANGAN</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range $val := .KejadianKeamanan}}
                                
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>