 {{ define "layouts/script_form_map.tmpl"}}
    <script>
        let marker;

        function initMap() {
            try {
                map = new google.maps.Map(document.getElementById('map_location'), {
                    center: { lat: -2.548926, lng: 118.0148634 },
                    zoom: 4
                });

                infoWindow = new google.maps.InfoWindow();
                geocoder = new google.maps.Geocoder();

                map.addListener('click', function(mapsMouseEvent) {
                    handleLocation(mapsMouseEvent.latLng);
                });
            } catch (error) {
                console.error('Error initializing map:', error);
            }
        }

        function handleLocation(latLng) {
            geocoder.geocode({ 'location': latLng }, function(results, status) {
                if (status === google.maps.GeocoderStatus.OK && results[0]) {
                    updateLocationInfo(results[0]);
                } else {
                    console.error('Geocode was not successful for the following reason: ' + status);
                }
            });
        }

        function dmsToDecimal(degrees, minutes, seconds, direction) {
            let decimal = degrees + (minutes / 60) + (seconds / 3600);
            // Jika arah adalah Selatan atau Barat, buat hasil negatif
            if (direction === 'S' || direction === 'LS' || direction === 'W' || direction === 'BB') {
                decimal = -decimal;
            }
            return decimal;
        }

        function search_location() {
            let searchInput = $('#cari_lokasi').val();
            
            // Check if input contains coordinates
            const regexdms = /^(\d{1,2})°\s*(\d{1,2})[′`']\s*(\d{1,3}(\.\d+)?)[″"]\s*(LS|LU|S|N)\s+(\d{1,3})°\s*(\d{1,2})[′`']\s*(\d{1,2}(\.\d+)?)[″"]\s*(BT|BB|E|W)$/
            let coordinateMatch = searchInput.match(/^(-?\d+\.?\d*)\s*[,\s]\s*(-?\d+\.?\d*)$/);
            let dmsCoordinateMatch = searchInput.match(regexdms);

            // Clear error message koordinat
            $('#koordinat').removeClass('is-invalid');
            $('#koordinat').next('.error-message').text('');
            $('#koordinat')[0].setCustomValidity('');
            
            if (coordinateMatch || dmsCoordinateMatch) {
                if(dmsCoordinateMatch){
                    coordinateMatch = [];
                    const latDegrees = parseInt(dmsCoordinateMatch[1], 10);
                    const latMinutes = parseInt(dmsCoordinateMatch[2], 10);
                    const latSeconds = parseFloat(dmsCoordinateMatch[3]);
                    const latDirection = dmsCoordinateMatch[5];
                    
                    // Ambil nilai bujur
                    const lonDegrees = parseInt(dmsCoordinateMatch[6], 10);
                    const lonMinutes = parseInt(dmsCoordinateMatch[7], 10);
                    const lonSeconds = parseFloat(dmsCoordinateMatch[8]);
                    const lonDirection = dmsCoordinateMatch[10];

                    coordinateMatch[1] = dmsToDecimal(latDegrees, latMinutes, latSeconds, latDirection);
                    coordinateMatch[2] = dmsToDecimal(lonDegrees, lonMinutes, lonSeconds, lonDirection);
                }
                // Handle coordinate search
                let latLng = new google.maps.LatLng(
                    parseFloat(coordinateMatch[1]), 
                    parseFloat(coordinateMatch[2])
                );
                handleLocation(latLng);
            } else {
                $('#lokasi_kejadian').val(searchInput);
                // Clear error message when lokasi_kejadian has content
                $('#lokasi_kejadian').removeClass('is-invalid');
                $('#lokasi_kejadian').next('.error-message').text('');
                $('#lokasi_kejadian')[0].setCustomValidity('');

                // Handle address search
                geocoder.geocode({ 'address': searchInput }, function(results, status) {
                    if (status === google.maps.GeocoderStatus.OK && results[0]) {
                        let coordinates = results[0].geometry.location;
                        let location = results[0].formatted_address;
                        let index = location.indexOf(' ') + 1;
                        let address = location.substring(index);

                        $('#latitude').val(coordinates.lat());
                        $('#longitude').val(coordinates.lng());
                        $('#cari_lokasi').val(address);
                        $('#koordinat').val(`Latitude: ${coordinates.lat()}; Longitude: ${coordinates.lng()}`);
                        setMarker(coordinates,address);
                    } else {
                        console.error('Geocode was not successful: ' + status);
                    }
                });
            }
        }

        function setMarker(coordinates,address) {
             if (marker) {
                marker.setMap(null);
            }

            marker = new google.maps.Marker({
                position: coordinates,
                title: address,
                draggable: true,
                map: map
            });

            google.maps.event.addListener(marker, 'click', function() {
                infoWindow.setContent('<b>' + this.title + '</b>');
                infoWindow.open(map, this);
            });

            google.maps.event.addListener(marker, 'dragend', function(evt) {
                handleLocation(evt.latLng);
            });
        }

        function updateLocationInfo(result) {
            infoWindow.close();

            let location = result.formatted_address;
            let index = location.indexOf(' ') + 1;
            let address = location.substring(index);

            let coordinates = result.geometry.location;
            $('#latitude').val(coordinates.lat());
            $('#longitude').val(coordinates.lng());

            $('#cari_lokasi').val(address);
            $('#koordinat').val(`Latitude: ${coordinates.lat()}; Longitude: ${coordinates.lng()}`);
            setMarker(coordinates,address);
        }
     
    </script>
 {{end}}