{{ define "templates/layout.tmpl"}}

{{ template "layouts/header.tmpl" . }}
{{ template "layouts/body_wrapper.tmpl" . }}
{{ template "layouts/sidebar.tmpl" . }}
{{ template "layouts/content_wrapper.tmpl" . }}
{{ template "layouts/main_content.tmpl" . }}
{{ template "layouts/begin_page_content.tmpl" . }}
{{ template "layouts/pages_heading.tmpl" . }}

   
{{ end }}