{{ define "templates/layout.tmpl"}}

{{ template "layouts/header.tmpl" . }}
{{ template "layouts/menu.tmpl" . }}
{{ template "layouts/sidebar.tmpl" . }}
{{ template "layouts/main_content.tmpl" . }}
{{ template "layouts/begin_page_content.tmpl" . }}
{{ template "layouts/pages_heading.tmpl" . }}
   
{{ end }}